.date{
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid white;
    background-color: black;
    color: whitesmoke;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.day{
    font-size: 2.75rem;
    font-weight: bold;
}
.month{
    font-size: 0.75rem;
    
}
.year{
    font-size: 0.9rem;
    font-weight: bold;
}