@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
body{
    font-family: 'Marcellus', serif;
    background-color: rgb(245, 144, 108);
}
*{
    box-sizing: border-box;
}
